- if cpu_cooler.present?
  - if @computer
    - could_be_added = @computer.free_cpu_cooler_places > 0
    - could_be_removed = @computer.cpu_coolers.include? cpu_cooler

  = block_to_partial 'shared/hardware_item', could_be_added: could_be_added,
                                             could_be_removed: could_be_removed,
                                             hardware: cpu_cooler do


    #{cpu_cooler.form_factor},
    #{cpu_cooler.min_rotation_speed}-#{cpu_cooler.max_rotation_speed} RPM,
    #{cpu_cooler.unpacked_height} mm height
    = cpu_cooler.sockets * ', '

