= simple_form_for @cpu_cooler do |f|
  - if @cpu_cooler.errors.any?
    #error_explanation
      %h2
        = pluralize(@cpu_cooler.errors.count, "error")
        prohibited this CPU cooler from being saved:
      %ul
        - @cpu_cooler.errors.full_messages.each do |msg|
          %li= msg

  .inputs
    = render 'shared/hardware_form', f: f, hardware: @cpu_cooler

    .row
      .col-md-12
        = f.input :sockets, input_html: {size: 164}, hint: '(via comma)',
          values: (@cpu_cooler.sockets * ', ' if @cpu_cooler.sockets.present?)
    .row
      .col-md-3
        = f.input :min_rotation_speed
      .col-md-3
        = f.input :max_rotation_speed
      .col-md-3
        = f.input :form_factor, collection: CpuCooler::FORM_FACTORS, label: 'Generation'
      .col-md-3
        %br
        = f.submit
