.row
  #list-content.col-md-9
    = back_link(@computer)

    #guide.panel.panel-default
      .panel-body
        %h1 Selection guide
        = render 'pages/cpu_coolers_guide'

    - if @cpu_coolers.blank?
      = no_hardware_message('CPU coolers')
    - else
      = page_entries_info @cpu_coolers
      - @cpu_coolers.each do |cpu_cooler|
        = render 'cpu_cooler_item', cpu_cooler: cpu_cooler

    = paginate @cpu_coolers

  .col-md-3
    %button#toggle-guide.btn.btn-info
      Show Guide
    = link_to('New CPU cooler', new_cpu_cooler_path, class: 'btn btn-primary') if can? :create, CpuCooler
    - if @filter_values.present?
      = render 'shared/order_by'
      .row
        .col-md-12
          #filters.panel.panel-default
            .panel-heading
              %h3.panel-title Filters
            .panel-body
              =render 'filter_form'