- if cpu.present?
  - if @computer
    - could_be_added = @computer.free_sockets > 0
    - could_be_removed = @computer.cpus.include? cpu

  = block_to_partial 'shared/hardware_item', could_be_added: could_be_added,
                                             could_be_removed: could_be_removed,
                                             hardware: cpu do


    = cpu.socket.to_s + ', '
    = cpu.frequency.to_s
    = ' - ' + cpu.turbo_frequency.to_s if cpu.turbo_frequency.present?
    = ' MHz, '
    = cpu.architecture + ', '
    = cpu.manufacturing_process.to_s + ' nm, '
    = cpu.integrated_gpu + ' integrated gpu, ' if cpu.integrated_gpu.present?
    = pluralize(cpu.number_of_cores, 'core') + ', '
    = pluralize(cpu.number_of_threads, 'thread') + ', '
    = cpu.l2_cache_size.to_s + ' MB L2 cache, '
    = cpu.l3_cache_size.to_s + ' MB L3 cache, '
    = cpu.complectation
