= simple_form_for @cpu do |f|
  - if @cpu.errors.any?
    #error_explanation
      %h2
        = pluralize(@cpu.errors.count, "error")
        prohibited this cpu from being saved:
      %ul
        - @cpu.errors.full_messages.each do |msg|
          %li= msg

  #guide.panel.panel-default
    .panel-body
      %h1
        Creation guide
        = render 'pages/hardware_creation_guide'

  .inputs
    .row
      .col-md-3
        = image_tag @cpu.image.thumb.url, class: 'img-thumbnail'
      .col-md-9
        .row
          .col-md-4
            = f.input :image, as: :file
          .col-md-4
            = f.input :remote_image_url
          .col-md-3
            %br
              %span#toggle-guide.btn.btn-default.btn-sm Show Guide

        .row
          .col-md-4
            = f.input :amazon_asin
          .col-md-3
            %label
              Get data from services
            %br
              = f.submit 'Fetch'


    .row
      .col-md-3
        = f.input :unpacked_length, label: t('simple_form.labels.hardware.unpacked_length')
      .col-md-3
        = f.input :unpacked_width, label: t('simple_form.labels.hardware.unpacked_width')
      .col-md-3
        = f.input :unpacked_height, label: t('simple_form.labels.hardware.unpacked_height')
      .col-md-3
        = f.input :unpacked_weight, label: t('simple_form.labels.hardware.weight')

    .row
      .col-md-3
        = f.input :amazon_price, label: t('simple_form.labels.hardware.price')
      .col-md-3
        = f.input :manufacturer, collection: Cpu::MANUFACTURERS, label: t('simple_form.labels.hardware.manufacturer')
      .col-md-4
        = f.input :amazon_link, input_html: { size: 80 }

    .row
      .col-md-3
        = f.input :power_consumption, label: t('simple_form.labels.hardware.power_consumption')
      .col-md-3
        = f.input :product_name
      .col-md-4
        = f.input :yandex_market_link, input_html: { size: 80 }

    .row
      .col-md-3
        = f.input :hackintosh_recommended, :as => :boolean, label: false, inline_label: t('simple_form.labels.hardware.hackintosh_recommended')
      .col-md-3
        = f.input :noise_level
      .col-md-4
        = f.input :description, as: :text, input_html: { cols: 79, rows: 3 }

    .row
      .col-md-3
        = f.input :frequency
      .col-md-3
        = f.input :turbo_frequency
      .col-md-3
        = f.input :architecture
      .col-md-3
        = f.input :manufacturing_process

    .row
      .col-md-3
        = f.input :socket
      .col-md-3
        = f.input :complectation, collection: Cpu::COMPLECTATIONS, label: t('simple_form.labels.cpu.complectation')
      .col-md-3
        = f.input :number_of_cores
      .col-md-3
        = f.input :integrated_gpu

    .row
      .col-md-3
        = f.input :l2_cache_size
      .col-md-3
        = f.input :l3_cache_size
      .col-md-3
        %br
        = f.submit
