.row
  #list-content.col-md-9
    = back_link(@computer)

    #guide.panel.panel-default
      .panel-body
        %h1 Selection guide
        = render 'pages/cpus_guide'

    - if @cpus.blank?
      = no_hardware_message('CPUs')
    - else
      = page_entries_info @cpus
      - @cpus.each do |cpu|
        = render 'cpu_item', cpu: cpu

    = paginate @cpus

  .col-md-3
    %button#toggle-guide.btn.btn-info
      Show Guide
    = link_to('New cpu', new_cpu_path, class: 'btn btn-primary') if can? :create, Cpu
    - if @filter_values.present?
      = render 'shared/order_by'
      .row
        .col-md-12
          #filters.panel.panel-default
            .panel-heading
              %h3.panel-title Filters
            .panel-body
              =render 'filter_form'