.border-form-div
  %h1 Welcome, Human
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!

    = f.input :email, :autofocus => true, label: false, wrapper: :prepend do
      = content_tag :label, t('devise.labels.email')
      = f.input_field :email

    = f.input :username, label: false, wrapper: :prepend do
      = content_tag :label, t('devise.labels.username')
      = f.input_field :username

    = f.input :password, label: false, wrapper: :prepend do
      = content_tag :label, t('devise.labels.password')
      = f.input_field :password, size: 20

    = f.input :password_confirmation, label: false, wrapper: :prepend do
      = content_tag :label, t('devise.labels.password_confirmation')
      = f.input_field :password_confirmation

    .text-center
      %p= f.submit "Sign up!",:class=>'btn btn-success'
      %p= render "devise/shared/links"
