= simple_form_for '', url: [:filter, (:computer if @computer.present?), :hulls] do |f|
  - Hull::ORDERED_FIELDS_FOR_FILTERS.each do |field_symbol|
    - if @filter_values[field_symbol].present?
      - values = @filter_values[field_symbol]
      - scope_symbol = "with_#{field_symbol.to_s}".to_sym
      - if [:amazon_price, :power_supply_power, :video_card_max_length, :cpu_cooler_max_width].include? field_symbol

        %div{id: scope_symbol.to_s, class: 'range-input'}
          = render 'shared/range_filter_inputs', f: f, scope_symbol: scope_symbol, values: values,
           input_label: t(field_symbol, scope: 'simple_form.labels.hull')

      - elsif [:front_usb3, :front_mic, :front_headphone, :front_fire_wire, :power_supply_down].include? field_symbol
        %div{id: scope_symbol.to_s}= f.input scope_symbol,
          as: :boolean,
          input_html: { checked: current_scopes[scope_symbol].present? },
          label: false,
          inline_label: t(field_symbol, scope: 'simple_form.labels.motherboard'),
          required: false

      - else
        %div{id: scope_symbol.to_s}= f.input scope_symbol,
          collection: values.collect { |v| [v.to_s, v] },
          as: :check_boxes,
          label:  (content_tag :span, t(field_symbol, scope: 'simple_form.labels.hull'), class: 'collapsible',
            data: {toggle: 'collapse', target: "._#{scope_symbol.to_s} .controls"}),
          checked: current_scopes[scope_symbol],
          required: false,
          wrapper:  current_scopes[scope_symbol].present? && current_scopes[scope_symbol].length > 1 ? :expand : :collapse

  .form-actions
    = f.submit 'Filter', class: 'btn btn-primary', id: 'filter-button'
    = link_to 'Reset filters', [@computer, :hulls] , class: 'btn btn-warning pull-right'

