= simple_form_for @hull do |f|
  - if @hull.errors.any?
    #error_explanation
      %h2
        = pluralize(@hull.errors.count, "error")
        prohibited this Hull from being saved:
      %ul
        - @hull.errors.full_messages.each do |msg|
          %li= msg

  .inputs
    = render 'shared/hardware_form', f: f, hardware: @hull

    .row
      .col-md-3
        = f.input :form_factors, collection: Motherboard::POSSIBLE_FORM_FACTORS, as: :check_boxes
      .col-md-3
        = f.input :power_supply_power
      .col-md-3
        = f.input :power_supply_position, collection: Hull::POWER_SUPPLY_POSITIONS, label: t('simple_form.labels.hull.power_supply_position')
      .col-md-3
        = f.input :number_of_storage_slots
    .row
      .col-md-3
        = f.input :number_of_optical_drives
      .col-md-3
        = f.input :number_of_front_usb
      .col-md-3
        = f.input :front_usb3, as: :boolean, label: false, inline_label: t('simple_form.labels.hull.front_usb3')
      .col-md-3
        = f.input :front_mic, as: :boolean, label: false, inline_label: t('simple_form.labels.hull.front_mic')

    .row
      .col-md-3
        = f.input :front_headphone, as: :boolean, label: false, inline_label: t('simple_form.labels.hull.front_headphone')
      .col-md-3
        = f.input :front_fire_wire, as: :boolean, label: false, inline_label: t('simple_form.labels.hull.front_fire_wire')
      .col-md-3
        = f.input :video_card_max_length
      .col-md-3
        = f.input :cpu_cooler_max_height

    .row
      .col-md-3
        %br
        = f.submit

