- if hull.present?
  - if @computer
    - could_be_added = @computer.hull.nil?
    - could_be_removed = @computer.hull == hull

  = block_to_partial 'shared/hardware_item', could_be_added: could_be_added,
                                             could_be_removed: could_be_removed,
                                             hardware: hull do

    = hull.form_factors * ', '
    = "#{hull.power_supply_power} W Power Supply, " if hull.power_supply.present?
    #{hull.power_supply_position} Power Supply position
    #{hull.number_of_front_usb}x Front USBs
    = hull.front_usb3 ? 'Has front USB 3.0, ' : ''
    = hull.front_mic ? 'Has front microphone, ' : ''
    = hull.front_headphone ? 'Has front headphone, ' : ''
    = hull.front_fire_wire ? 'Has front FireWire, ' : ''
    = 'Power Supply on the bottom, ' if hull.power_supply_down

    = hull.video_card_max_length.to_s + ' mm max Video Card length ' if hull.video_card_max_length.present?
    = hull.cpu_cooler_max_height.to_s + ' mm max CPU Cooler height ' if hull.cpu_cooler_max_height.present?

    #{hull.number_of_storage_slots}x storage bays
    #{hull.number_of_optical_drives}x optical drive bays