.row
  #list-content.col-md-9
    = back_link(@computer)

    #guide.panel.panel-default
      .panel-body
        %h1 Selection guide
        = render 'pages/hulls_guide'

    - if @hulls.blank?
      = no_hardware_message('Hulls')
    - else
      = page_entries_info @hulls
      - @hulls.each do |hull|
        = render 'hull_item', hull: hull

    = paginate @hulls

  .col-md-3
    %button#toggle-guide.btn.btn-info
      Show Guide
    = link_to('New Hull', new_hull_path, class: 'btn btn-primary') if can? :create, Hull
    - if @filter_values.present?
      = render 'shared/order_by'
      .row
        .col-md-12
          #filters.panel.panel-default
            .panel-heading
              %h3.panel-title Filters
            .panel-body
              =render 'filter_form'