- if computer.present?
  %p
    .hardware-container
      .row
        .col-md-2
          = link_to((image_tag computer.hull.image.thumb.url, class: 'img-thumbnail'), computer) if computer.hull.present?
        .col-md-7
          %h4.hardware-title
            = link_to (computer.description.present? ? computer.description : 'Description is empty'), computer_path(computer)
          %p.hardware-standard-features
            = computer.hardware_counter.to_s + ' Items, '
            = computer.weight.to_s + ' kg'
            = verified_span(computer)
          %p.hardware-features
            = pack_set_hardware(computer.cpus)
            = pack_set_hardware(computer.cpu_coolers)
            = (hardware_title(computer.motherboard) + ', ') if computer.motherboard.present?
            = pack_set_hardware(computer.rams)
            = pack_set_hardware(computer.ssds)
            = pack_set_hardware(computer.ssds)
            = pack_set_hardware(computer.optical_drives)
            = pack_set_hardware(computer.video_cards)
            = (hardware_title(computer.power_supply) + ', ') if computer.power_supply.present?
            = hardware_title(computer.hull) if computer.hull.present?

        .col-md-3
          %p.market
            %span.price
              = computer.amazon_price.to_s + ' $'

          %p
            - if can? :edit, computer
              .btn-group
                = link_to 'Verify', [:publish, computer], method: :post, class: 'btn btn-warning'
                - if can? :delete, computer
                  = link_to 'Delete', computer,
                             method: :delete, class: 'btn btn-danger',
                             data: { confirm: 'Do you really want to delete this computer?' }



