.row.hardware-select
  .col-md-2.hardware-type#description
    Description
  .col-md-9
    = f.input :description, label: false, input_html: {size: 105}, disabled: !can?(:edit, @computer)

.row.hardware-select
  .col-md-2.hardware-type#features
    Pro features
  .col-md-8
    .row
      .col-md-7
        = f.input :hackintosh_compatible,
                  inline_label: 'Hackintosh compatible',
                  as: :boolean,
                  label: false,
                  disabled: !can?(:edit, @computer)
      .col-md-5
        = f.input :quiet,
                  inline_label: 'Quiet (noise < 20 dB)',
                  as: :boolean,
                  label: false,
                  disabled: !can?(:edit, @computer)

  - if can?(:edit, @computer) && !@computer.new_record?
    .col-md-2
      = f.submit 'Apply', class: 'btn btn-success'
