- if @computer.violations.any?
  .row
    .col-md-4.col-md-offset-4
      #error_explanation
        %h2
          = pluralize(@computer.violations.count, "error")
          made this computer invalid:
        %ul
          - @computer.violations.each do |msg|
            %li= msg

= render 'responsibility'

.row.hardware-select#cpus
  .col-md-2.hardware-type
    CPU
  .col-md-9
    - if @computer.cpus.present?
      - @computer.cpus.each do |cpu|
        = render 'cpus/cpu_item', cpu: cpu
      - if @computer.free_sockets > 0 && can?(:add_to, @computer)
        %p
          = add_hardware_row 'CPU', computer_cpus_path(@computer) do
            #{@computer.free_sockets} free sockets left
    - else
      = add_hardware_row 'CPU', computer_cpus_path(@computer) do
        - t('computer.explain.cpu')

.row.hardware-select#cpu_coolers
  .col-md-2.hardware-type
    CPU Cooler
  .col-md-9
    - if @computer.cpu_coolers.present?
      - @computer.cpu_coolers.each do |cpu_cooler|
        = render 'cpu_coolers/cpu_cooler_item', cpu_cooler: cpu_cooler
      - if @computer.free_cpu_cooler_places > 0
        %p
          = add_hardware_row 'CPU Cooler', computer_cpu_coolers_path(@computer) do
            #{@computer.free_cpu_cooler_places} free cooler places left

    - else
      = add_hardware_row 'CPU Cooler', computer_cpu_coolers_path(@computer) do
        - t('computer.explain.cpu_cooler')

.row.hardware-select#motherboards
  .col-md-2.hardware-type
    Motherboard
  .col-md-9
    - if @computer.motherboard.present?
      = render 'motherboards/motherboard_item', motherboard: @computer.motherboard
    - else
      = add_hardware_row 'Motherboard', computer_motherboards_path(@computer) do
        = t('computer.explain.motherboard')

.row.hardware-select#rams
  .col-md-2.hardware-type
    RAM
  .col-md-9
    - if @computer.rams.present?
      - @computer.rams.each do |ram|
        = render 'rams/ram_item', ram: ram
      - if @computer.free_ram_slots > 0 && can?(:add_to, @computer)
        %p
          = add_hardware_row 'RAM', computer_rams_path(@computer) do
            #{@computer.free_ram_slots} free slots left

    - else
      = add_hardware_row 'RAM', computer_rams_path(@computer) do
        - t('computer.explain.ram')

.row.hardware-select#hdds
  .col-md-2.hardware-type
    HDD
  .col-md-9
    - if @computer.hdds.present?
      - @computer.hdds.each do |hdd|
        = render 'hdds/hdd_item', hdd: hdd
      - if @computer.free_drive_slots > 0 && can?(:add_to, @computer)
        %p
          = add_hardware_row 'HDD', computer_hdds_path(@computer) do
            #{@computer.free_drive_slots} free sata ports left

    - else
      = add_hardware_row 'HDD', computer_hdds_path(@computer) do
        - t('computer.explain.hdd')

.row.hardware-select#ssds
  .col-md-2.hardware-type
    SSD
  .col-md-9
    - if @computer.ssds.present?
      - @computer.ssds.each do |ssd|
        = render 'ssds/ssd_item', ssd: ssd

      - if @computer.free_drive_slots > 0 && can?(:add_to, @computer)
        %p
          = add_hardware_row 'SSD', computer_ssds_path(@computer) do
            #{@computer.free_drive_slots} free sata ports left

    - else
      = add_hardware_row 'SSD', computer_ssds_path(@computer) do
        - t('computer.explain.ssd')

.row.hardware-select#optical_drives
  .col-md-2.hardware-type
    Optical Drive
  .col-md-9
    - if @computer.optical_drives.present?
      - @computer.optical_drives.each do |optical_drive|
        = render 'optical_drives/optical_drive_item', optical_drive: optical_drive

      - if @computer.free_optical_drive_places > 0 && can?(:add_to, @computer)
        %p
          = add_hardware_row 'Optical Drive', computer_optical_drives_path(@computer) do
            #{@computer.free_drive_slots} free sata ports left

    - else
      = add_hardware_row 'Optical Drive', computer_optical_drives_path(@computer) do
        - t('computer.explain.optical_drive')

.row.hardware-select#video_cards
  .col-md-2.hardware-type
    Video Card
  .col-md-9
    - if @computer.video_cards.present?
      - @computer.video_cards.each do |video_card|
        = render 'video_cards/video_card_item', video_card: video_card

      - if @computer.free_video_card_slots > 0 && can?(:add_to, @computer)
        %p
          = add_hardware_row 'Video Card', computer_video_cards_path(@computer) do
            #{@computer.free_video_card_slots} free video card slots left

    - else
      = add_hardware_row 'Video Card', computer_video_cards_path(@computer) do
        - t('computer.explain.video_card')

.row.hardware-select#hulls
  .col-md-2.hardware-type
    Case
  .col-md-9
    - if @computer.hull.present?
      = render 'hulls/hull_item', hull: @computer.hull

    - else
      = add_hardware_row 'Case', computer_hulls_path(@computer) do
        - t('computer.explain.hull')

.row.hardware-select#power_supplies
  .col-md-2.hardware-type
    Power Supply
  .col-md-9
    - if @computer.power_supply.present?
      = render 'power_supplies/power_supply_item', power_supply: @computer.power_supply

    - else
      = add_hardware_row 'Power Supply', computer_power_supplies_path(@computer) do
        - t('computer.explain.power_supply')

.row.hardware-select#total
  .col-md-2.hardware-type
    Total
  .col-md-9
    = render 'computer_item', computer: @computer

