.row-fluid
  .col-md-12
    = content_for :top do
      = simple_form_for @computer do |f|
        .container-fluid
          .row.features-inputs
            = render 'computer_features', f: f

    = render 'form'

    = link_to 'Short view', @computer
    |
    = link_to 'All computers', computers_path
    |
    = link_to 'How to assemble', 'http://en.wikibooks.org/wiki/How_To_Assemble_A_Desktop_PC/Assembly', target: :blank


