.row-fluid
  .col-md-12
    = simple_form_for @computer do |f|
      = render 'computer_features', f: f

      .row.hardware-select
        .col-md-8.col-md-offset-2
          .row
            .col-md-7
              = recaptcha_tags
            .col-md-5
              = f.button :submit, 'Create', class: 'btn btn-success'

    = link_to 'To configurations list', computers_path
