= render 'responsibility'

%div{class: (@computer.published? ? 'panel panel-success' : 'panel panel-warning')}
  .panel-heading
    .panel-title
      = @computer.published? ? 'Verified' : 'Unverified'
  .panel-body

    - if @computer.motherboard.present?
      %h4= 'Motherboard'
      = hardware_title @computer.motherboard

    - if @computer.cpus.present?
      %h4= pluralize(@computer.cpus.count, 'CPU')
      = pack_set_hardware(@computer.cpus, true)

    - if @computer.cpu_coolers.present?
      %h4= pluralize(@computer.cpu_coolers.count, 'CPU Cooler')
      = pack_set_hardware(@computer.cpu_coolers, true)

    - if @computer.rams.present?
      %h4= pluralize(@computer.rams.count, 'RAM')
      = pack_set_hardware(@computer.rams, true)

    - if @computer.hdds.present?
      %h4= pluralize(@computer.hdds.count, 'HDD')
      = pack_set_hardware(@computer.hdds, true)

    - if @computer.ssds.present?
      %h4= pluralize(@computer.ssds.count, 'SSD')
      = pack_set_hardware(@computer.ssds, true)

    - if @computer.optical_drives.present?
      %h4= pluralize(@computer.optical_drives.count, 'Optical Drive')
      = pack_set_hardware(@computer.optical_drives, true)

    - if @computer.video_cards.present?
      %h4= pluralize(@computer.video_cards.count, 'Video Card')
      = pack_set_hardware(@computer.video_cards, true)

    - if @computer.hull.present?
      %h4= 'Case'
      = hardware_title @computer.hull

    - if @computer.power_supply.present?
      %h4= 'Power Supply'
      = hardware_title @computer.power_supply

= link_to 'Details', edit_computer_path(@computer)
|
= link_to 'Existing configurations', computers_path
|
= link_to 'How to assemble', 'http://en.wikibooks.org/wiki/How_To_Assemble_A_Desktop_PC/Assembly', target: :blank
