= simple_form_for @optical_drive do |f|
  - if @optical_drive.errors.any?
    #error_explanation
      %h2
        = pluralize(@optical_drive.errors.count, "error")
        prohibited this Optical Drive from being saved:
      %ul
        - @optical_drive.errors.full_messages.each do |msg|
          %li= msg

  .inputs
    = render 'shared/hardware_form', f: f, hardware: @optical_drive


    .row
      .col-md-3
        = f.input :bd_read
      .col-md-3
        = f.input :bd_r_write
      .col-md-3
        = f.input :bd_re_write
      .col-md-3
        = f.input :bd_dl_write

    .row
      .col-md-3
        = f.input :dvd_read
      .col-md-3
        = f.input :dvd_r_write
      .col-md-3
        = f.input :dvd_rw_write
      .col-md-3
        = f.input :dvd_dl_write



    .row
      .col-md-3
        = f.input :cd_read
      .col-md-3
        = f.input :cd_r_write
      .col-md-3
        = f.input :cd_rw_write
      .col-md-3
        %br
          = f.submit
