- if optical_drive.present?
  - if @computer
    - could_be_added = @computer.free_optical_drive_places > 0
    - could_be_removed = @computer.optical_drives.include? optical_drive

  = block_to_partial 'shared/hardware_item', could_be_added: could_be_added,
                                             could_be_removed: could_be_removed,
                                             hardware: optical_drive do

    = optical_drive.cd_read.to_s + 'x CD read, '
    = optical_drive.dvd_read.to_s + 'x DVD read, ' if optical_drive.dvd_read.present?
    = optical_drive.bd_read.to_s + 'x Blue-Ray read, ' if optical_drive.bd_read.present?
    = optical_drive.cd_r_write.to_s + 'x CD-R write' if optical_drive.cd_r_write.present?
    = optical_drive.cd_rw_write.to_s + 'x CD-RW write' if optical_drive.cd_rw_write.present?
    = optical_drive.dvd_r_write.to_s + 'x DVD-R write' if optical_drive.dvd_r_write.present?
    = optical_drive.dvd_rw_write.to_s + 'x DVD-RW write' if optical_drive.dvd_rw_write.present?
    = optical_drive.dvd_dl_write.to_s + 'x DVD DL write' if optical_drive.dvd_dl_write.present?
    = optical_drive.bd_r_write.to_s + 'x BD-R write' if optical_drive.bd_r_write.present?
    = optical_drive.bd_re_write.to_s + 'x BD-RW write' if optical_drive.bd_re_write.present?
    = optical_drive.bd_dl_write.to_s + 'x BD DL write' if optical_drive.bd_dl_write.present?