.row
  #list-content.col-md-9
    = back_link(@computer)

    #guide.panel.panel-default
      .panel-body
        %h1 Selection guide
        = render 'pages/optical_drives_guide'

    - if @optical_drives.blank?
      = no_hardware_message('Optical Drives')
    - else
      = page_entries_info @optical_drives
      - @optical_drives.each do |optical_drive|
        = render 'optical_drive_item', optical_drive: optical_drive

    = paginate @optical_drives

  .col-md-3
    %button#toggle-guide.btn.btn-info
      Show Guide
    = link_to('New Optical Drive', new_optical_drive_path, class: 'btn btn-primary') if can? :create, OpticalDrive
    - if @filter_values.present?
      = render 'shared/order_by'
      .row
        .col-md-12
          #filters.panel.panel-default
            .panel-heading
              %h3.panel-title Filters
            .panel-body
              =render 'filter_form'