= simple_form_for @power_supply do |f|
  - if @power_supply.errors.any?
    #error_explanation
      %h2
        = pluralize(@power_supply.errors.count, "error")
        prohibited this Power Supply from being saved:
      %ul
        - @power_supply.errors.full_messages.each do |msg|
          %li= msg

  .inputs
    = render 'shared/hardware_form', f: f, hardware: @power_supply

    .row
      .col-md-3
        = f.input :number_of_sata_connectors
      .col-md-3
        = f.input :number_of_6_pin
      .col-md-3
        = f.input :number_of_8_pin
      .col-md-3
        = f.input :number_of_6_2_pin
    .row
      .col-md-3
        = f.input :power
      .col-md-3
        = f.input :certificate_80_plus, collection: PowerSupply::CERTIFICATES, label: t('simple_form.labels.power_supply.certificate_80_plus')
      .col-md-3
        = f.input :modular_cables, as: :boolean, label: false, inline_label: t('simple_form.labels.power_supply.modular_cables')
      .col-md-3
        %br
        = f.submit

