- if power_supply.present?
  - if @computer
    - could_be_added = @computer.power_supply.nil?
    - could_be_removed = @computer.power_supply == power_supply

  = block_to_partial 'shared/hardware_item', could_be_added: could_be_added,
                                             could_be_removed: could_be_removed,
                                             hardware: power_supply do

    #{power_supply.power} W,
    = 'Modular cables, ' if power_supply.modular_cables
    = power_supply.number_of_sata_connectors.to_s + 'x SATA connectors, '
    = power_supply.number_of_6_pin.to_s + 'x6 pin connectors, ' if power_supply.number_of_6_pin.present?
    = power_supply.number_of_8_pin.to_s + 'x8 pin connectors, ' if power_supply.number_of_8_pin.present?
    = power_supply.number_of_6_2_pin.to_s + 'x6+2 pin connectors, ' if power_supply.number_of_6_2_pin.present?
    #{power_supply.certificate_80_plus} certificate 80+