.row
  #list-content.col-md-9
    = back_link(@computer)

    #guide.panel.panel-default
      .panel-body
        %h1 Selection guide
        = render 'pages/power_supplies_guide'

    - if @power_supplies.blank?
      = no_hardware_message('Power Supplys')
    - else
      = page_entries_info @power_supplies
      - @power_supplies.each do |power_supply|
        = render 'power_supply_item', power_supply: power_supply

    = paginate @power_supplies

  .col-md-3
    %button#toggle-guide.btn.btn-info
      Show Guide
    = link_to('New Power Supply', new_power_supply_path, class: 'btn btn-primary') if can? :create, PowerSupply
    - if @filter_values.present?
      = render 'shared/order_by'
      .row
        .col-md-12
          #filters.panel.panel-default
            .panel-heading
              %h3.panel-title Filters
            .panel-body
              =render 'filter_form'