- if user.present?
  %tr
    %td
      = user.username
    %td
      = user.email
    %td
      - if user.computers.any?
        = link_to 'Computers >>', user_computers_path(user)
    %td
      - unless user == current_user
        = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'