- if @users.blank?
  No users found.
- else
  = page_entries_info @users
  %p
  %table.table.table-hover
    %thead
    %tbody
      - @users.each do |user|
        = render 'user', user: user

  = paginate @users