.hardware-inputs
  #guide.panel.panel-default
    .panel-body
      %h1
        Creation guide
        = render 'pages/hardware_creation_guide'

  .row
    .col-md-3
      = image_tag hardware.image.thumb.url, class: 'img-thumbnail'
    .col-md-9
      .row
        .col-md-4
          = f.input :image, as: :file
          = f.hidden_field :image_cache
        .col-md-4
          = f.input :remote_image_url
        .col-md-3
          %br
            %span#toggle-guide.btn.btn-default.btn-sm Show Guide

      .row
        .col-md-4
          = f.input :items_in_pack
        .col-md-4
          = f.input :amazon_asin
        .col-md-3
          %label
            Get data from services
          %br
            = f.submit 'Fetch'

  .row
    .col-md-3
      = f.input :packed_height, label: t('simple_form.labels.hardware.packed_height')
    .col-md-3
      = f.input :packed_length, label: t('simple_form.labels.hardware.packed_length')
    .col-md-3
      = f.input :packed_width, label: t('simple_form.labels.hardware.packed_width')
    .col-md-3
      = f.input :packed_weight, label: t('simple_form.labels.hardware.packed_weight')


  .row
    .col-md-3
      = f.input :unpacked_height, label: t('simple_form.labels.hardware.unpacked_height')
    .col-md-3
      = f.input :unpacked_length, label: t('simple_form.labels.hardware.unpacked_length')
    .col-md-3
      = f.input :unpacked_width, label: t('simple_form.labels.hardware.unpacked_width')
    .col-md-3
      = f.input :unpacked_weight, label: t('simple_form.labels.hardware.unpacked_weight')

  .row
    .col-md-3
      = f.input :amazon_price, label: t('simple_form.labels.hardware.amazon_price')
    .col-md-3
      = f.input :manufacturer
    .col-md-6
      = f.input :amazon_link, input_html: { size: 78 }

  .row
    .col-md-3
      = f.input :power_consumption, label: t('simple_form.labels.hardware.power_consumption')
    .col-md-3
      = f.input :product_name
    .col-md-6
      = f.input :yandex_market_link, input_html: { size: 78 }

  .row
    .col-md-3
      = f.input :hackintosh_recommended, :as => :boolean, label: false, inline_label: t('simple_form.labels.hardware.hackintosh_recommended')
    .col-md-3
      = f.input :noise_level
    .col-md-6
      = f.input :description, as: :text, input_html: { cols: 77, rows: 3 }


