- if hardware.present?
  %p
    .hardware-container
      .row
        .col-md-2
          = image_tag hardware.image.thumb.url, class: 'img-thumbnail'
        .col-md-7
          %h4.hardware-title
            = hardware_title hardware
          %p.hardware-standard-features
            = hardware_standard_features(hardware)
          %p.hardware-features
            = body

        .col-md-3
          %p.market
            %span.price
              From #{hardware.amazon_price.to_s} $
          %p
            At
            = link_to 'Amazon', hardware.amazon_link, target: :blank

          %p
            - if @computer.present? && can?(:add_to, @computer)
              - if could_be_removed
                = link_to 'Remove', [:remove_from, @computer, hardware], method: :post, class: 'btn btn-danger'
              - if could_be_added && action_name.in?(['index', 'filter', 'edit'])
                = link_to 'Add', [:add_to, @computer, hardware], method: :post, class: 'btn btn-success'

            = admin_actions(hardware)