#order-by
  %h4 Order by:
  - if current_scopes[:by_price_asc].present?
    = link_to sanitize('&#9650;') + 'Price', url_for_order_scope(:by_price_desc)
  - else
    = link_to url_for_order_scope(:by_price_asc) do
      = current_scopes[:by_price_desc].present? ? sanitize('&#9660;') + 'Price' : 'Price'

  - if current_scopes[:by_creation_time_asc].present?
    = link_to sanitize('&#9650;') + 'Created at', url_for_order_scope(:by_creation_time_desc)
  - else
    = link_to url_for_order_scope(:by_creation_time_asc) do
      = current_scopes[:by_creation_time_desc].present? ? sanitize('&#9660;') + 'Created at' : 'Created at'