= f.simple_fields_for scope_symbol do |ff|
  = (ff.label scope_symbol,  input_label, required: false) if input_label.present?

  .row-fluid
    .col-md-6

      = ff.input :min, wrapper: :prepend, required: :false, label: false do
        = content_tag :span, t('simple_form.labels.hardware.ranged/from'), class: 'add-on'
        = ff.input_field :min, maxlength: 7,
          value: current_scopes[scope_symbol].present? && current_scopes[scope_symbol][:min].present? ? current_scopes[scope_symbol][:min] : values[:min]


    .col-md-6

      = ff.input :max, wrapper: :prepend, required: false, label: false do
        = content_tag :span, t('simple_form.labels.hardware.ranged/to'), class: 'add-on'
        = ff.input_field :max, maxlength: 7,
          value: current_scopes[scope_symbol].present? && current_scopes[scope_symbol][:max].present? ? current_scopes[scope_symbol][:max] : values[:max]

    = ff.input :general_min,
      as: :hidden,
      input_html: {value: values[:min]}

    = ff.input :general_max,
      as: :hidden,
      input_html: {value: values[:max]}

  .slider-container
    %div{id: "slider-#{scope_symbol.to_s}", class: 'col-md-12'}
