= simple_form_for @ssd do |f|
  - if @ssd.errors.any?
    #error_explanation
      %h2
        = pluralize(@ssd.errors.count, "error")
        prohibited this SSD from being saved:
      %ul
        - @ssd.errors.full_messages.each do |msg|
          %li= msg

  .inputs
    = render 'shared/hardware_form', f: f, hardware: @ssd

    .row
      .col-md-3
        = f.input :capacity
      .col-md-3
        = f.input :read_speed
      .col-md-3
        = f.input :write_speed
      .col-md-3
        = f.input :random_write_speed

    .row
      .col-md-3
        = f.input :sata3_support, as: :boolean, label: false, inline_label: t('simple_form.labels.ssd.sata_3_support')
      .col-md-3
        %br
        = f.submit
