- if ssd.present?
  - if @computer
    - could_be_added = @computer.free_drive_slots > 0
    - could_be_removed = @computer.ssds.include? ssd

  = block_to_partial 'shared/hardware_item', could_be_added: could_be_added,
                                             could_be_removed: could_be_removed,
                                             hardware: ssd do


    = ssd.capacity.to_s + ' Gb, '
    = ssd.random_write_speed.to_s + ' IOPS,'
    = ssd.read_speed.to_s + ' Mb/s read, ' if ssd.read_speed.present?
    = ssd.write_speed.to_s + ' Mb/s write, ' if ssd.write_speed.present?
    = ssd.sata3_support ? 'With sata 3 support' : 'Without sata 3 support'
