.row
  #list-content.col-md-9
    = back_link(@computer)

    #guide.panel.panel-default
      .panel-body
        %h1 Selection guide
        = render 'pages/ssds_guide'

    - if @ssds.blank?
      = no_hardware_message('SSDs')
    - else
      = page_entries_info @ssds
      - @ssds.each do |ssd|
        = render 'ssd_item', ssd: ssd

    = paginate @ssds

  .col-md-3
    %button#toggle-guide.btn.btn-info
      Show Guide
    = link_to('New SSD', new_ssd_path, class: 'btn btn-primary') if can? :create, Ssd
    - if @filter_values.present?
      = render 'shared/order_by'
      .row
        .col-md-12
          #filters.panel.panel-default
            .panel-heading
              %h3.panel-title Filters
            .panel-body
              =render 'filter_form'