= simple_form_for @hdd do |f|
  - if @hdd.errors.any?
    #error_explanation
      %h2
        = pluralize(@hdd.errors.count, "error")
        prohibited this HDD from being saved:
      %ul
        - @hdd.errors.full_messages.each do |msg|
          %li= msg

  .inputs
    = render 'shared/hardware_form', f: f, hardware: @hdd

    .row
      .col-md-3
        = f.input :capacity
      .col-md-3
        = f.input :cache_size
      .col-md-3
        = f.input :rpm
      .col-md-3
        = f.input :number_of_platters

    .row
      .col-md-3
        = f.input :sata3_support, as: :boolean, label: false, inline_label: t('simple_form.labels.hdd.sata_3_support')
      .col-md-3
        %br
        = f.submit
