- if hdd.present?
  - if @computer
    - could_be_added = @computer.free_drive_slots > 0
    - could_be_removed = @computer.hdds.include? hdd

  = block_to_partial 'shared/hardware_item', could_be_added: could_be_added,
                                             could_be_removed: could_be_removed,
                                             hardware: hdd do

    = hdd.capacity.to_s + ' Gb, '
    = hdd.rpm.to_s + ' RPM, '
    = hdd.cache_size.to_s + ' Mb cache, '
    = hdd.sata3_support ? 'SATA III' : 'SATA II'
    = hdd.number_of_platters.to_s + ' platters'