.row
  #list-content.col-md-9
    = back_link(@computer)

    #guide.panel.panel-default
      .panel-body
        %h1 Selection guide
        = render 'pages/hdds_guide'

    - if @hdds.blank?
      = no_hardware_message('HDDs')
    - else
      = page_entries_info @hdds
      - @hdds.each do |hdd|
        = render 'hdd_item', hdd: hdd
    = paginate @hdds

  .col-md-3
    %button#toggle-guide.btn.btn-info Show Guide
    = link_to('New hdd', new_hdd_path, class: 'btn btn-primary') if can? :create, Hdd
    - if @filter_values.present?
      = render 'shared/order_by'
      .row
        .col-md-12
          #filters.panel.panel-default
            .panel-heading
              %h3.panel-title Filters
            .panel-body
              =render 'filter_form'