%p
  CPU coolers are usually used for 2 reasons:
%ol
  %li
    To make system quieter. You can use noise level filters to select a cooler which fits you better.
  %li
    To overclock a CPU. To provide you all necessary information for overclocking we should write a separate resource,
    as
    = (link_to 'overclockers.com',  'http://www.overclockers.com/') + '. '
    Fortunately, it is already written :)


