%p
  CPUs by performance:
  = link_to 'tomshardware.com', 'http://www.tomshardware.com/reviews/gaming-cpu-review-overclock,3106-5.html'

%p
  CPU is a wheelhorse of your computer. The analogy with a family, the CPU is a father, who works in a mine and brings minerals (then the video card
  is a brother, who works at KFC and the motherboard is a mother, who manages family budget)

%h4
  Actual AMD sockets:
%ul
  %li
    AM3+ - for CPU without integrated video core
  %li
    FM2 - for CPU with integrated video core

%h4
  Actual Intel sockets:
%ul
  %li
    LGA 1150 - the newest one
  %li
    LGA 1155 - past generation (but still actual, until Intel won't invent something outstanding)

%p -What model should I choose for Battlefield 3 on ULTRA settings in FullHD?
%p -You need a CPU with 4 cores and more, like i5/FX-6300 and higher.

%p
  Index 'K', which have several Intel processors, means that CPU ratio is overclocked by manufacturer. For using this feature, you will need
  a motherboard that supports it.
%p
  Index 'BE' in AMD's processor title means nearly the same.



