%h4 Common rules

%ol
  %li
    In new browser window, open amazon market and find new hardware there.
  %li
    On hardware page, find 'AMAZON ASIN' and copy it to field 'Amazon ASIN'
  %li
    In new browser window, open yandex market and find there new hardware
  %li
    On hardware page, click to 'All characteristics'. Then copy full page url and paste it to 'Yandex Market link'
  %li
    Click on 'Fetch' to fetch the rest of characteristics from web-sites
  %li
    If fetching was unsuccessful or incomplete (all fetches for CPUs are incomplete due to Yandex Market traits CPU models
    as modifications), go to hardware manufacturer's site. Then, find there necessary hardware model and fill in form by
    official specifications
  %li
    To get to know, if hardware is hackintosh compatible, visit
    = link_to 'Tonymac x86', 'http://www.tonymacx86.com/home.php', target: :blank
    and go to the page with latest byer's guide. At the bottom of this page you could find the up-to-date lists with all
    compatible hardware. Just check if addable hardware is in it.