%h4
  Rotation speed:

%ul
  %li
    5400 RPM - Hard disks with this rotation speed are the most cool, quiet and slow among all HDDs. That's why they are
    mostly used as storage for rarely used data, such as music, films, pictures and backups.
  %li
    7200 RPM - Standard rotation frequency for desktop HDDs. Standard temperature, noise level and access speed are included.
    This disks are pretty universal, so if you system will have only one storage, we recommend you to choose for it a HDD
    with this RPM.
  %li
    10000 RPM - High-speed HDDs for server desigions. These hard disks are very noisy, overheated and expensive, and that's
    why they are very rarely used for home computers. If you feel the lack of performance of your storage and you are not
    a webmaster, we recommend you to take a look at
    = link_to 'SSDs', @computer.present? ? computer_ssds_path(@computer) : ssds_path

%h4
  Buffer (cache) size
%p
  (from
  = link_to 'PC Guide', 'http://www.pcguide.com/ref/hdd/perf/perf/spec/otherCache-c.html'
  )
%p
  Having some cache in a drive is somewhat important to overall performance; the drive will use it to buffer recent requests
  and to "pre-fetch" data likely to be requested by the system in the future. If this data in the cache is in fact needed,
  it will be transferred to the system at the drive's external transfer rate--much faster than would be possible if there
  were no cache. However, the number of requests that fit into this category is relatively small. Increasing the size of
  the cache even by a substantial percentage doesn't change this very much, because no matter how large the cache, it
  will always be a very small percentage of the total capacity of the drive. Caches today, despite significant increases
  in size, are still far less than 0.1% of the size of the disk drives they serve.
%p

  As memory prices have fallen into the "dirt cheap" range, drive manufacturers have realized that they can increase the
  size of their buffers at very little cost. Certainly nothing is lost in doing this; extra cache won't hurt performance;
  but neither does it greatly improve it. As a result, if interface transfer rate is the "reigning champion" of
  overrated performance specifications, then cache size is probably the "prime contender". :^) Some people seem to
  think a 2 MiB buffer makes a drive four times as fast as one with a 512 kiB buffer! In fact, you'd be hard pressed
  to find even a 4% difference between them in most cases, all else being equal. Not surprisingly, both external
  transfer rate and cache size are overrated for the same reason: they apply to only a small percentage of transfers.

%p
  The cache size specification is of course a function of the drive's cache characteristics. Unfortunately, manufacturers
  rarely talk about any characteristics other than the cache's size.

%h4
  SATA version

%p
  The reading/writing speed limit for HDDs lies below bandwidth of SATA II. Taking into account this fact, we can make a
  desigion that you may not to overpay for SATA III, especially if you can find a SATA II drive with similar
  characteristics.


