%p
  Case is the simplest component of computer. So, there are only two important things that you should know about it:
%ul
  %li
    It should have enough space and slots for hardware.
  %li
    Case is the only part of an assembled configuration, that is visible. So, You should like it's appearance.
