%p
  Form-factors (sizes) of motherboards:
  = link_to 'wikipedia.org', 'en.wikipedia.org'
  %h4
    The most popular form-factors are (in increasing order of sizes):
  %ul
    %li Mini-ITX (mITX)
    %li Mini-ATX (mATX)
    %li ATX

%p
  Form-factors differ with radiators, power systems, cooling, number of PCI slots for videocards, number of usb ports
  and other minor stuff (which are generally useful in a very, VERY hardcore and expensive overclocking). So, if you aren't
  an owner of an oil derrick, you can calm down about this characteristics and it's recommended for you to choose ATX (they
  are a little bit more expensive than miniATX, but provide you less troubles with drivers and compatibility.)

%p
  Motherboard is chosen for the processor. The steeper is a processor, the steeper is a motherboard. The main characteristics
  of the motherboard is a chipset. Chipset is a binding component between all hardware of your computer.

%p
  %h4 For AMD processors:
  %ul
    %li A75/A85 - for motherboards with socket FM2
    %li A88 - motherboards with socket FM2+ (although, you can meet FM2+ socket motherboards both on A85 and A75, but they will
    doubtfully fit new Kalveri processors)
    %li 960G - Cheap segment for AM3+. Warning: processor heat release is restricted to 95 W.
    %li 970 - Middle segment, right that you are searching for AM3+
    %li 990X/990FX - HARDCORE AM3+. If you are going to insert two video cards, choose a motherboard on this chipset, because
    970 chipset has x16 + x4t (which decreases your FPS by awful 3)

  %br
    There is a pretty detailed comparison of chipsets, starting from 760G:
    = link_to 'wikipedia.org', 'http://en.wikipedia.org/wiki/Comparison_of_AMD_chipsets#A-Link_Express_II'

%p
  %h4 For Intel processors:
  %ul
    %li B85 - Actual chipset for cheap/middle configurations with socket LGA 1150
    %li B75 - Actual chipset for cheap/middle configurations with socket LGA 1155
    %li H87 - Middle segment for 1150. (Almost all motherboards are with CF 16x-4x, and that's strange)
    %li H77 - Middle segment for 1155. A lot of USB 3.0 and SATA 3 slots, but processors with index "K' can not be fully overclocked.
    %li Z77 - For HARDCORE usage of 1155 with processor overclocking and SLI/Crossfire
    %li Z87 - For HARDCORE usage of 1150 with processor overclocking and SLI/Crossfire

  %br
    More details may be found here:
    = link_to 'wikipedia.org', 'http://ru.wikipedia.org/wiki/Socket_H2'

%p
  If you are not going to buy a descrete sound card, make sure that your motherboard has worthy integrated audio. You can compare codecs here:
  = link_to 'hardwaresecrets.com/', 'http://www.hardwaresecrets.com/article/Audio-Codec-Comparison-Table/520'

