%p
  Nowadays you are able to configure a working PC without an optical drive and even don't notice the lack of it. Optical
  disks are used less and less frequently and, mostly, in these areas:
  %ul
    %li
      Copying data from a collection of optical disks to get rid of them and store data in a more compact way.
    %li
      Writing audio and video on disks for CD/DVD players.
    %li
      Creating specific back-ups of data.
    %li
      For being able to install old and rare software from it's original install CDs.

  So, if You are not going to do things that are listed above, just don't buy an optical drive and save some cash for
  USB flash.

%h4 Formats of disks
(from
=link_to 'Compreviews', 'http://compreviews.about.com/od/cddvd/a/Desktop-CD-DVD-Blu-ray-Buyers-Guide.htm'
)
%p
  There are three basic forms of optical storage used in computers today: compact disc (CD), digital versatile disc (DVD)
  and Blu-ray (BD)
%p
  Compact disc storage was derived from the same media that we use for audio compact discs. The storage space averages
  around 650 to 700 MB of data per disc. They can contain audio, data or both on the same disc. Most software for
  computers was distributed on CD formats. DVD was the designed for a compact digital video format that also spun off
  into the data storage arena. DVD is seen primarily for video and has since become standard to be used for physical
  software distribution. DVD drives are still backwards compatible with CD formats however.
%p
  Blu-ray and HD-DVD were both in the high definition format war but Blu-ray eventually won out. Each of these is capable
  of storing high definition video signals or data capacities ranging from as low as 25GB to over 200GB depending upon the
  number of layers on the discs. Since the two formats are incompatible with one another, drives could use one or both of
  the formats although all new drives will only use Blu-ray. They will be compatible with both DVD and CD.
%p
  Now optical drives can come as read only (ROM) or as writers (designated with either an R, RW, RE or RAM). Read-only
  drives will allow you to only read data from discs that already have data on them, they can not be used for removable
  storage. Writers or burners can be used to save data, create music CDs or video discs that can be played in DVD or
  Blu-ray players.
%p
  CD recorders are very standardized and should be compatible with almost all equipment out there. Some CD burners may be
  listed as a combo or CD-RW/DVD drive. These can support reading and writing to CD media and can read DVD media but not
  write to it.
%p
  DVD recorders are a bit more confusing as there are many more types of media that can be used with them. Most drives at
  this point can support both the plus and minus versions of the standard along with rewritable. Another format is the
  dual-layered or double-layered, typically listed as DL, that supports almost twice the capacity (8.5GB instead of 4.7GB).
%p
  Blu-ray drives typically come in three types of drives. Readers can read any of the formats (CD, DVD and Blu-ray). Combo
  drives can read Blu-ray discs but can read and write CDs and DVDs as well. Burners can handle reading and writing to
  all three formats. A new Blu-ray XL format has been released for writing to discs of up 128GB. Unfortuntely this format
  media is not backward compatible with many early generation Blu-ray drives and players. As such, it hasn't really caught on.
