%p
  The fate of all computer's components depends from power supply. The bad-quality power supply is able to burn, causing
  malfunction to all other hardware. So it is strongly recommended not to save on power supply.

%p
  There is a simple rule: You don't need a power supply with 500+ watts power output for a home computer, if you aren't
  going to use multiple video cards in the configuration. This resource applies filter to power supplies based on
  %strong
    currently added
  hardware. So, we recommend You to verify the power output here
  = link_to 'http://www.extreme.outervision.com/psucalculatorlite.jsp', 'http://www.extreme.outervision.com/psucalculatorlite.jsp', target: :blank
  , for example. Also, there is a compatibility filter based on necessary power connectors for video cards. That's why we
  recommend You to select a power supply in the end.
%p
  About certification 80+ you can read here:
  = link_to 'http://en.wikipedia.org/wiki/80_Plus', 'http://en.wikipedia.org/wiki/80_Plus', target: :blank