%ul
  %li
    The only case, when frequencies > 1600 MHz and 2-channel mode could be useful, is using processor integrated video core.
  %li
    8 Gb of total RAM capacity should be enough for home/gamer PC.