%p
  %strong SSD
  , or Solid State Drive - high-speed and high-price storage. In compare with HDDs SSDs give performance boost from 400%.
%p
  We recommend you to choose SSD with capacity, starting from 100 Gb, which will allow you to install on it not only OS,
  but 1-2 heavy applications (or games).
