%ul
  %li
    In 2014, AMD or NVIDIA is a question of religion, not logic.
  %li
    The higher price not always means the higher performance.
  %li
    You can use a CPU video core instead of a discrete video card if your main tasks are films, browsing and text editing.

%h4 Video cards by performance:
%p
  = link_to 'tomshardware.com', 'http://www.tomshardware.com/reviews/gaming-graphics-card-review,3107-7.html', target: :blank

%h4 For *nix users
%p
  The drivers are present for production of both manufacturers, but the quality of drivers for NVIDIA cards is higher. Also,
  all *nix systems work pretty well with IHD graphics.

%h4 Noise and temperature
%p
  Turbine-based cooling systems are the most noisy ones. They blow hot air out of case, reducing air temperature in it.
  But video card tends to warm higher in compare with following type:
%p
  Mono- or multifan systems. They are less noisy and cool the video card better, but tend to warm your hardware with
  circulating hot air.
%p
  Passive radiators is the decision for ultimately quite systems, but their cooling characteristics are far from top.


