.text-center
  %p
    This is a testing version of site. We don't take any responsibility for accuracy of provided information and
    workability of selected hardware.
  %p
    Want to say us something? Feel free to write at
    = mail_to 'bendthe@gmail.com'

= link_to '<<Back', :back