%h1 Guides for hardware selection

%h2 Motherboards
= render 'motherboards_guide'

%h2 CPUs
= render 'cpus_guide'

%h2 CPU Coolers
= render 'cpu_coolers_guide'

%h2 RAMs
= render 'rams_guide'

%h2 HDDs
= render 'hdds_guide'

%h2 SSDs
= render 'ssds_guide'

%h2 Optical Drives
= render 'optical_drives_guide'

%h2 Video Cards
= render 'video_cards_guide'

%h2 Cases
= render 'hulls_guide'

%h2 Power Supplies
= render 'power_supplies_guide'
