= simple_form_for @ram do |f|
  - if @ram.errors.any?
    #error_explanation
      %h2
        = pluralize(@ram.errors.count, "error")
        prohibited this RAM from being saved:
      %ul
        - @ram.errors.full_messages.each do |msg|
          %li= msg

  .inputs
    = render 'shared/hardware_form', f: f, hardware: @ram

    .row
      .col-md-3
        = f.input :frequency
      .col-md-3
        = f.input :capacity
      .col-md-3
        = f.input :generation, collection: Ram::GENERATIONS, label: 'Generation'
      .col-md-3
        %br
        = f.submit
