- if ram.present?
  - if @computer
    - could_be_added = @computer.free_ram_slots > 0
    - could_be_removed = @computer.rams.include? ram

  = block_to_partial 'shared/hardware_item', hardware: ram,
                                             could_be_added: could_be_added,
                                             could_be_removed: could_be_removed do

    #{ram.items_in_pack}x#{ram.capacity} Gb,
    #{ram.frequency} MHz,
    #{ram.generation}