.row
  #list-content.col-md-9
    = back_link(@computer)

    #guide.panel.panel-default
      .panel-body
        %h1 Selection guide
        = render 'pages/rams_guide'

    - if @rams.blank?
      = no_hardware_message('RAMs')
    - else
      = page_entries_info @rams
      - @rams.each do |ram|
        = render 'ram_item', ram: ram
    = paginate @rams

  .col-md-3
    %button#toggle-guide.btn.btn-info
      Show Guide
    = link_to('New RAM', new_ram_path, class: 'btn btn-primary') if can? :create, Ram
    - if @filter_values.present?
      = render 'shared/order_by'
      .row
        .col-md-12
          #filters.panel.panel-default
            .panel-heading
              %h3.panel-title Filters
            .panel-body
              = render 'filter_form'