= simple_form_for @video_card do |f|
  - if @video_card.errors.any?
    #error_explanation
      %h2
        = pluralize(@video_card.errors.count, "error")
        prohibited this Video Card from being saved:
      %ul
        - @video_card.errors.full_messages.each do |msg|
          %li= msg

  .inputs
    = render 'shared/hardware_form', f: f, hardware: @video_card

    .row
      .col-md-3
        = f.input :chipset_manufacturer, collection: VideoCard::CHIPSET_MANUFACTURERS, label: 'Chipset Manufacturer'
      .col-md-3
        = f.input :chipset
      .col-md-3
        = f.input :chipset_frequency
      .col-md-3
        = f.input :number_of_universal_processors

    .row
      .col-md-3
        = f.input :memory_size
      .col-md-3
        = f.input :memory_type, collection: VideoCard::MEMORY_TYPES, label: 'Memory Type'
      .col-md-3
        = f.input :memory_frequency
      .col-md-3
        = f.input :system_bus_bit

    .row
      .col-md-3
        = f.input :max_resolution
      .col-md-3
        = f.input :number_of_supported_monitors
      .col-md-3
        = f.input :multi_gpu_technology, collection: VideoCard::MULTI_GPU_TECHNOLOGIES, label: 'Multi GPU Technology'

    .row
      .col-md-3
        = f.input :number_of_6_pin
      .col-md-3
        = f.input :number_of_8_pin
      .col-md-3
        %br
        = f.submit
