- if video_card.present?
  - if @computer
    - could_be_added = @computer.free_video_card_slots > 0
    - could_be_removed = @computer.video_cards.include? video_card

  = block_to_partial 'shared/hardware_item', could_be_added: could_be_added,
                                             could_be_removed: could_be_removed,
                                             hardware: video_card do

    #{video_card.chipset},
    #{video_card.chipset_frequency} MHz GPU clock,
    #{video_card.memory_size} Mb #{video_card.memory_type} memory,
    #{video_card.memory_frequency} MHz memory clock,
    #{video_card.system_bus_bit} bit,
    #{video_card.number_of_universal_processors} universal processors,
    up to #{video_card.number_of_supported_monitors} monitors supported at #{video_card.max_resolution},
    = (video_card.multi_gpu_technology + ' support, ') if video_card.multi_gpu_technology.present?
    = video_card.number_of_6_pin.to_s + 'x6-pin extra power connectors necessary, ' if video_card.number_of_6_pin.present?
    = video_card.number_of_8_pin.to_s + 'x8-pin extra power connectors necessary, ' if video_card.number_of_8_pin.present?
    #{video_card.unpacked_width} mm width,
    #{video_card.unpacked_length} mm length
