.row
  #list-content.col-md-9
    = back_link(@computer)

    #guide.panel.panel-default
      .panel-body
        %h1 Selection guide
        = render 'pages/video_cards_guide'

    - if @video_cards.blank?
      = no_hardware_message('Video Cards')
    - else
      = page_entries_info @video_cards
      - @video_cards.each do |video_card|
        = render 'video_card_item', video_card: video_card

    = paginate @video_cards

  .col-md-3
    %button#toggle-guide.btn.btn-info
      Show Guide
    = link_to('New Video Card', new_video_card_path, class: 'btn btn-primary') if can? :create, VideoCard
    - if @filter_values.present?
      = render 'shared/order_by'
      .row
        .col-md-12
          #filters.panel.panel-default
            .panel-heading
              %h3.panel-title Filters
            .panel-body
              =render 'filter_form'