// Place all the styles related to the custom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* header */
$grayMediumLight: #eaeaea;

/* header */

.navbar {
  margin-bottom: 0px !important;
  .dropdown-toggle {
    width: 160px;
  }
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 1;
  padding: 0 px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

a.navbar-brand {
  padding: 1px;
}

/* footer */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

footer {
  clear: both;
  height: 50px;
  padding-top: 12px;
  color: white;
  background-color: darkslategray;

  a {
    &:visited {
      color: white
    }
  }
}

.page-wrapper {
  background-color: darkcyan;
  min-height: 100%;
  margin-bottom: -50px;
}

.page-buffer {
  height: 100px;
  display: block;
}

/* ReCaptcha Iframe FIX */
iframe {display:none !important;}
header iframe,
section iframe,
footer iframe,
div iframe { display:inline; }

/* main content */
.main-content {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  background-color: white;
}

/* filters */
.slider-container {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.prices {
  margin-top: 10px;
}

.collapsible {
  cursor: pointer;
  text-decoration: underline;
}

/* User sign in and sign up forms. */
.border-form-div {
  max-width: 650px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);

  .form-signin-heading, .checkbox {
    margin-bottom: 10px;
  }

  input {
    font-size: 24px;
    margin-bottom: 15px;
    padding: 7px 9px;
  }

  label {
    font-size: 24px;
    width: 250px;
  }

  h1 {
    text-color: blue;
    text-align: center;
  }
}

/* Hardware selection pages */
.inputs {
  margin: 10px;
}

.market {
  margin-top: 10px;
}

#order-by {
  a {
    padding: 0px 10px 0px 10px;
    &:visited {
      color: #428bca;
    }
    &:hover {
      color: black;
      background-color: white;
    }
  }
}

#guide {
  display: none;
}

/* computer main page */
.features-inputs {
  background-color: antiquewhite;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: -50px;
}

#computer_description {
  margin-top: 5px;
}

.hardware-type {
  font-size: 24px;
  margin-top: 10px;
}
.hardware-select {
  margin-top: 20px;
}

.btn-add {
  width: 136px;
}



