= simple_form_for '', url: [:filter, (:computer if @computer.present?), :motherboards] do |f|
  - @filter_values.each do |field_symbol, values|
    - if values.present?
      - scope_symbol = "with_#{field_symbol.to_s}".to_sym
      - case field_symbol
        - when :front_mic || :front_headphone
          %div{id: scope_symbol.to_s}= f.input scope_symbol,
            as: :boolean,
            input_html: { checked: current_scopes[scope_symbol].present? },
            label: false,
            inline_label: t(field_symbol, scope: 'simple_form.labels.motherboard'),
            required: false

        - when :amazon_price
          %div{id: scope_symbol.to_s, class: 'range-input'}
            = render 'shared/range_filter_inputs', f: f, scope_symbol: scope_symbol, values: values, input_label: t('simple_form.labels.hardware.amazon_price')

        - else
          %div{id: scope_symbol.to_s}= f.input scope_symbol,
            collection: values.collect { |v| [v.to_s, v] },
            as: :check_boxes,
            label:  (content_tag :span, t(field_symbol, scope: 'simple_form.labels.motherboard'), class: 'collapsible',
              data: {toggle: 'collapse', target: "._#{scope_symbol.to_s} .controls"}),
            checked: current_scopes[scope_symbol],
            required: false,
            wrapper:  current_scopes[scope_symbol].present? && current_scopes[scope_symbol].length > 1 ? :expand : :collapse

  .form-actions
    = f.submit 'Filter', class: 'btn btn-primary', id: 'filter-button'
    = link_to 'Reset filters', [@computer, :motherboards] , class: 'btn btn-warning pull-right'

