= simple_form_for @motherboard do |f|
  - if @motherboard.errors.any?
    #error_explanation
      %h2
        = pluralize(@motherboard.errors.count, "error")
        prohibited this Motherboard from being saved:
      %ul
        - @motherboard.errors.full_messages.each do |msg|
          %li= msg

  .inputs
    = render 'shared/hardware_form', f: f, hardware: @motherboard

    .row
      .col-md-3
        = f.input :form_factor, collection: Motherboard::POSSIBLE_FORM_FACTORS, label: t('simple_form.labels.motherboard.form_factor')
      .col-md-3
        = f.input :chipset
      .col-md-3
        = f.input :socket
      .col-md-3
        = f.input :number_of_sockets

    .row
      .col-md-3
        = f.input :max_ram_total_size
      .col-md-3
        = f.input :max_ram_frequency
      .col-md-3
        = f.input :ram_generations, collection: Ram::GENERATIONS, as: :check_boxes
      .col-md-3
        = f.input :number_of_ram_slots

    .row
      .col-md-3
        = f.input :number_of_sata2_ports
      .col-md-3
        = f.input :number_of_sata3_ports
      .col-md-3
        = f.input :number_of_usb_ports
      .col-md3
        = f.input :number_of_usb3_ports

    .row
      .col-md-3
        = f.input :number_of_pcie_x16_slots
      .col-md-3
        = f.input :number_of_pcie_x1_slots
      .col-md-3
        = f.input :number_of_pcie_x8_slots
      .col-md-3
        = f.input :front_mic, as: :boolean, label: false, inline_label: t('simple_form.labels.motherboard.front_mic')

    .row
      .col-md-3
        = f.input :supported_multi_gpus, collection: VideoCard::MULTI_GPU_TECHNOLOGIES, as: :check_boxes
      .col-md-3
        = f.input :integrated_gpu
      .col-md-3
        = f.input :integrated_audio 
      .col-md-3
        = f.input :front_mic, as: :boolean, label: false, inline_label: t('simple_form.labels.motherboard.front_headphone')
    = f.submit
