- if motherboard.present?
  - if @computer
    - could_be_added = @computer.motherboard.nil?
    - could_be_removed = @computer.motherboard == motherboard

  = block_to_partial 'shared/hardware_item', could_be_added: could_be_added,
                                             could_be_removed: could_be_removed,
                                             hardware: motherboard do

    = motherboard.form_factor.to_s + ', ' + motherboard.chipset + ', ' + motherboard.number_of_sockets.to_s + 'x' + motherboard.socket + ', '
    = motherboard.number_of_sata2_ports.to_s + 'x SATA II ports, '
    = motherboard.number_of_sata3_ports.to_s + 'x SATA III ports, '
    = motherboard.number_of_pcie_x8_slots.to_s + 'x PCI-E x8 slots, ' + motherboard.number_of_pcie_x1_slots.to_s + 'x PCI-E x1 slots, '
    = motherboard.number_of_pcie_x16_slots.to_s + 'x video card slots,'
    = motherboard.integrated_audio + ' integrated audio,' if motherboard.integrated_audio
    = motherboard.supported_multi_gpus * ', '
    = (motherboard.integrated_gpu + ' integrated video, ') if motherboard.integrated_gpu
    = "#{motherboard.number_of_usb_ports} xUSB 2.0, " if motherboard.number_of_usb_ports
    = "#{motherboard.number_of_usb3_ports} xUSB 3.0, " if motherboard.number_of_usb3_ports
    = "#{motherboard.number_of_front_usb2} x front panel USB 2.0, " if motherboard.number_of_front_usb2
    = "#{motherboard.number_of_front_usb3} x front panel USB 3.0, " if motherboard.number_of_front_usb3
    = motherboard.front_mic ? "front panel mic, " : ''
    = motherboard.front_headphone ? "front panel headphones, " : ''
    = motherboard.number_of_ram_slots.to_s + 'x'
    = motherboard.ram_generations * '/'
    RAM slots,
    = motherboard.max_ram_total_size.to_s + ' max RAM size'