.row
  #list-content.col-md-9
    = back_link(@computer)

    #guide.panel.panel-default
      .panel-body
        %h1 Selection guide
        = render 'pages/motherboards_guide'

    - if @motherboards.blank?
      = no_hardware_message('motherboards')
    - else
      = page_entries_info @motherboards
      - @motherboards.each do |motherboard|
        = render 'motherboard_item', motherboard: motherboard

    = paginate @motherboards

  .col-md-3
    %button#toggle-guide.btn.btn-info
      Show Guide
    = link_to('New motherboard', new_motherboard_path, class: 'btn btn-primary') if can? :create, Motherboard
    - if @filter_values.present?
      = render 'shared/order_by'
      .row
        .col-md-12
          #filters.panel.panel-default
            .panel-heading
              %h3.panel-title Filters
            .panel-body
              =render 'filter_form'