%li.dropdown
  = link_to '', class: 'dropdown-toggle', data: {toggle: "dropdown"} do
    = 'Hardware'
    %b.caret

  %ul.dropdown-menu
    - [:cpus, :cpu_coolers, :motherboards, :rams, :hdds, :ssds, :video_cards, :power_supplies, :hulls].each do |hardware|
      %li
        = link_to hardware.to_s.humanize, hardware

%li
  = link_to 'Computers', computers_path
%li
  = link_to 'Users', users_path
