.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    .navbar-header
      #logo
        = link_to computers_path, class: 'navbar-brand' do
          = image_tag 'logo.png'
          Fithardware

    .btn-group
      = link_to 'Create new Computer', new_computer_path, class: 'btn btn-success navbar-btn'

    %ul.nav.navbar-nav.navbar-right
      %li= link_to 'All Guides', guides_path
      - if user_signed_in?
        - if current_user.admin?
          = render 'layouts/admin_panels'
        %li= link_to 'My Computers', user_computers_path(current_user)
        %li= link_to "My Profile", edit_user_registration_path
        %li= link_to "Sign Out", destroy_user_session_path, method: :delete

      - unless user_signed_in?
        %li= link_to "Sign In", new_user_session_path
        %li= link_to "Sign Up", new_user_registration_path

