!!!
%html
  %head
    %title Fithardware
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png'
  %body
    .page-wrapper
      = render 'layouts/top_navigation'

      - if notice.present?
        %p.alert.alert-warning= notice

      - if alert.present?
        %p.alert.alert-danger= alert

      - if content_for?(:top)
        = yield :top

      .container-fluid.main-content
        = yield
        .page-buffer

    = render 'layouts/footer'



